<!DOCTYPE html>
<html lang="en">

<head>
  <title>URL Shortener</title>
</head>

<body>
  <form action="/shorten" method="POST">
    <input type="text" name="url" placeholder="Long URL">
    <button type="submit">Submit</button>
  </form>
</body>