<!DOCTYPE html>
<html lang="en">

<head>
  <title>URL Shortener</title>
</head>

<body>
  <form>
    <label>Shortened URL:</label>
    <input type="text" value="<%= link %>" readonly>
  </form>
</body>